
:root {
    --background-color: #006ec7;
    --error-color: #EE0612;
    --text-color:#fff
}
/* Mobile - overrides default Canvas background */
body:not([class]){
	color:var(--text-color);
	background-color: var(--background-color);
    background-image: url("");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    background-position:center;
	background-repeat:no-repeat
}

/* Mobile - overrides default Canvas logo */
.mobileLogin-Header{
	background-image: url("");
	background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    min-height: 156px
}

/* Mobile - ensures visible error on custom background */
#login_form .error{
	color: var(--text-color);
	background-color: var(--error-color)
}

/* Mobile - forgot password link */
#f1_container a {
<<<<<<< HEAD
    color: var(--text-color)
}
=======
    color: white;
}
>>>>>>> 342320d87b834470c2c1748bea4d91e0536d2d43
